.homeBg {
  width: 100%;
  height: 100%;
  background-color: rgb(228, 182, 254);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  margin-top: 0px;
}

.main-box {
  margin: auto;
  width: 70%;
  border: 3px solid #8064a2;
  padding: 10px;
  margin-bottom: 30px;
  margin-top: 40px;
}

Form {
  margin: auto;
  width: 50%;
  /* border: 3px solid green; */
  padding: 10px;
}

.sr {
  margin: auto;
  width: 50%;
  background-color: #8064a2 !important;
  /* border: 3px solid red; */
  /* padding: 10px;  */
}

.aboutRegistry {
  display: flex;
  width: 70%;
  background-color: white;
  border-style: solid;
  border-color: #8064a2;
  color: black;
  border-radius: 7px;
  border-width: 3px;
  padding-top: 13px;
  padding-bottom: 10px;
  padding-left: 13px;
  padding-right: 13px;
}

.aboutRegistry p {
  line-height: 50px;
  font-size: 1.3rem;
}

.pictureTitle {
  color: white;
  margin-bottom: -45%;
  font-family: cursive;
}

.aboutRegistryImages {
  width: 100%;
  height: auto;
  display: flex;
  background-color: (180, 107, 180);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.aboutRegistryImagesItem .AboutRegistryImagesTitle {
  text-align: center;
  color: #09256d;
  font-size: 60px;
  font-weight: bolder;
}

.aboutRegistryImagesList {
  width: 70vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  justify-content: center;
}

.aboutRegistryImagesList {
  width: 70vw;
  height: auto;
  display: grid;
  background-color: (180, 107, 180);
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.aboutRegistryImagesItem {
  border-radius: 15px;
  width: 300px;
  height: 300px;
  margin: 40px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.aboutRegistryImagesItem:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.aboutRegistryImagesItem .bgImage {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 260px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutRegistryImagesItem h1 {
  font-size: 25px;
}

@media only screen and (max-width: 1200px) {
  .projectList {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .projectList {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .projectList {
    width: 100%;
  }

  .projectItem {
    width: 300px;
    height: 300px;
  }
}
