.newbabyBg {
  width: 100%;
  height: 100%;
  background-color: rgb(166, 226, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  margin-top: 0px;
}
.wishList {
  width: 100%;
  height: auto;
  display: flex;
  background-color: aquamarine;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wishList .wishListTitle {
  text-align: center;
  color: #09256d;
  font-size: 60px;
  font-weight: bolder;
}
.wishList {
  width: 70vw;
  height: auto;
  display: grid;
  background-color: aquamarine;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}
.wishListItems {
  border-radius: 15px;
  width: 500px;
  height: auto;
  margin: 40px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 15px;
}
.wishListItems:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
  cursor: pointer;
}
.wishListItem .bgImage {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-1,
.btn-2,
.btn-3 {
  color: #8064a2;
  background-color: white;
  border: #8064a2 2px solid;
}

.btn-1:hover,
.btn-2:hover,
.btn-3:hover {
  color: white;
  background-color: #8064a2;
  border: white 2px solid;
}

.wishListItem h1 {
  font-size: 25px;
}
@media only screen and (max-width: 1200px) {
  .wishListList {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 768px) {
  .wishListList {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 768px) {
  .wishListList {
    width: 100%;
  }
  .wishListItems {
    width: 300px;
    height: 300px;
  }
}
