.footer {
  width: 100%;
  height: 100px;
  background: #09256d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  margin-top: 0px;
}

.container {
  justify-content: center;
  align-items: center;
}

.socialMedia svg {
  color: white;
  margin: 20px;
  font-size: 70px;
  cursor: pointer;
}

.footer p {
  color: white;
}

@media only screen and (max-width: 600px) {
  .footer svg {
    font-size: 50px;
  }
}
