.text {
  color: #8064a2 !important;
}

.theRegistry {
  color: white;
  font-size: 60px;
  font-family: "Berkshire Swash", cursive;
}

.nav-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.theRegistry:hover {
  color: #8064a2;
}

.container {
  display: flex;
}
.buttons {
  display: flex;
  align-items: flex-end;
}
.button-1,
.button-2,
.button-3 {
  background-color: #8064a2;
  border: none;
}

.button-1:hover,
.button-2:hover,
.button-3:hover {
  background-color: white;
  color: #8064a2;
}
